footer
  .shop
    img(src='/img/logo.png' alt='')
    h2 Shri Khode Kirani Store
    h3 Near APMC , Ron Road Gajendragad-582114
    h4 Dist: Gadag, karnataka
    ul
      li
        a(href='#')
          img(src="/img/link/twitter.png", alt="Twitter", srcset="")
      li
        a(href='#')
          img(src="/img/link/hashnode.png", alt="Hashnode", srcset="")
      li
        a(href='#')
          img(src="/img/link/github.png", alt="Github", srcset="")
      li
        a(href='#')
          img(src="/img/link/linked.png", alt="Linkedin", srcset="")
  .links
    h1 Links
    a(href='#') Home
    a(href='#') Shop
    a(href='#') Cart
    a(href='#') My orders
  p Khode &copy 2023. All right reserved