footer
  .shop
    img(src='/img/logo.png' alt='')
    h2 Shri Khode Kirani Store
    h3 Near APMC , Ron Road Gajendragad-582114
    h4 Dist: Gadag, karnataka
    ul
      li
        a(href='https://twitter.com/kartikkhode21')
          img(src="/img/link/twitter.png", alt="Twitter", srcset="")
      li
        a(href='https://kartikkhode.hashnode.dev/')
          img(src="/img/link/hashnode.png", alt="Hashnode", srcset="")
      li
        a(href='https://github.com/Kartiklk')
          img(src="/img/link/github.png", alt="Github", srcset="")
      li
        a(href='https://www.linkedin.com/in/kartik-khode/')
          img(src="/img/link/linked.png", alt="Linkedin", srcset="")
  .links
    h1 Links
    a(href='/') Home
    a(href='/itemslist') Shop
    a(href='/cart') Cart
    a(href='/myorders') My orders
  p Khode &copy 2023. All right reserved