section#header
  .logo
    img(src='/img/logo.png' alt='')
  ul
    li
      a(href='/') Home
    li
      a(href='/itemslist') Items
    li
      a(href='/cart') Cart
    li
      a(href='/myorders') My Order
  .right
    input#search(type='text' placeholder='search')
    button.btn(type='submit') SEARCH
    if !user
      a(href='/login') LOGIN
    else 
      button.btn(type='submit' id='logout') Logout
      h3=user.name.split(' ')[0]