doctype html
html
  head
    block head 
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Shri Khode | #{title}
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap' rel='stylesheet')

      link(rel='stylesheet' href='/style.css')
  body
    //- header
    include _header

    //- content
    block content
      h1 place holder

    //- footer
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js') 