extends base
  
block content 
  // Cart Items
  section#c1
    h1 Cart Items
    hr
  //- // If Empty
  //- section#c2
  //-   if cart==null
  //-     h1 Cart is Empty
  // Cart Items
  section#c4
    each item in items
      .cart-content
        img(src=`img/genaral/${item.photo}` alt='')
        h1= item.name
        h2=item.price
        a(href='#') Remove
  // Total Price
  hr
  section#c3
    .total
      h1 Total Price
      h2#Price Rs.100
    a(href='#' onclick='order()') Order
//- script(src='js/main.js')
