extends base
  
block content 
  // Cart Items
  section#c1
    h1 Cart Items
    hr
  //- // If Empty
  //- section#c2
  //-   if cart==null
  //-     h1 Cart is Empty
  // Cart Items
    each cart in carts.item
  section#c4
    .cart-content
      //- img(src=`img/genaral/${cart.}` alt='')
      //- h1= cart.user
      h2= cart.item
      a(href='#') Remove
  // Total Price
  hr
  section#c3
    .total
      h1 Total Price
      h2#Price Rs.100
    a(href='#' onclick='order()') Order
//- script(src='js/main.js')
