extends base
  
block content 
  // Cart Items
  section#c1
    h1 Cart Items
    hr
  //- // If Empty
  //- section#c2
  //-   if cart==null
  //-     h1 Cart is Empty
  // Cart Items
  section#c4
    .cart-content
      each cart in carts
        if cart==null
          h1 Cart is Empty
        else
          img(src=`img/genaral/${cart.photo}` alt='')
          h1.name=cart.name
          h2.Price=cart.price
          a(href='#') Remove
  // Total Price
  hr
  section#c3
    .total
      h1 Total Price
      h2#Price Rs.100
    a(href='#' onclick='order()') Order
//- script(src='js/main.js')
