doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //- meta(http-equiv='Content-Security-Policy' content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ")
  title Login
  link(rel="stylesheet" href="style.css")
body.cap
  // Form
  section#header
    #overley.overley
      form(action='/' method='post')
        // Login Form
        #loginform.loginform
          h1 Login Now
          label(for='Email') Email
          br
          input#email(type='Email' placeholder='Enter Email' name='email')
          br
          label(for='Password') Password
          br
          input#password(type='password' placeholder='••••••••' name='password')
          br
          a(href='#') Forget Password?
          br
          a.close(href='/') Close
          button(type='submit' id='loginnow') Login
          br
          h2
            | You Don't have an account?
            button.btn(type='button' id='tosignup') Create account.
        // Signup Form
        #signupfrom.signupfrom
          h1 Create Account
          label(for='Name') Name
          br
          input#name(type='Name' placeholder='Enter Name' name='name')
          br
          label(for='Email') Email
          br
          input#signupemail(type='Email' placeholder='Enter Email' name='email')
          br
          label(for='Password') Password
          br
          input#signuppassword(type='password' placeholder='••••••••' name='password')
          br
          a(href='#') Terms &amp; Conditions
          br
          a.close(href='/') Close
          button(type='submit' id='signup') Sign Up
          br
          h2
            | You have an account?
            button.btn(type='button' id='tologin') Login Now
  //- script(src='js/main.js')
  //- script(src='js/index.js')
  //- script(src='js/login.js')
  script(src='js/bundle.js') 
