extends base
  
block content 
  // Headline
  .headline
    h1 My Orders
  hr
  // Order Items
  section#c4
    .cart-content
      img(src='img/genaral/ruchi.jpg' alt='')
      h1.name Ruchi Gold 1Ltr
      h2.Price Rs. 100
      a(href='#')
        i.fa-solid.fa-trash
