extends base
  
block content 
  // Name
  section#s1
    h1 SHRI KHODE'S KIRANI AND GENERAL STORE
  // Top cards
  section#s2(style='margin-left: 2cm;')
    .card
      img(src='img/card/general.jpg' alt='')
      h3 General Items
      h4 Buy Now
      a(href='/itemslist') Add Cart
    .card
      img(src='img/card/drinks.jpg' alt='')
      h3 Soft Drinks
      h4 Buy Now
      a(href='/itemslist') Add Cart
    .card
      img(src='img/card/biscuits.jpg' alt='')
      h3 Becary Items
      h4 Buy Now
      a(href='/itemslist') Add Cart
  // Offers name
  section#s3
    h1 KHODE's Specal Deals
    h2 Buy Now and Get Offers
  // Offer items
  section#s2
    each item in items
      if(item.offer === 'yes')
        a(href=`/items/${item.id}`)
          #card.card
            img(src=`img/genaral/${item.photo}` alt='')
            h3#title=item.name
            h4#itemprice=`Rs.${item.price}`
            //- a.item(href='#') Add Cart
            button.btn(type='button') Add Cart
  //- script(src='js/main.js')
