doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Shri Khode
  link(rel='stylesheet' href='style.css')
body 
  // navbar
  section#header
    .logo
      img(src='img/logo.png' alt='')
    ul
      li
        a(href='/') Home
      li
        a(href='/itemslist') Items
      li
        a(href='/cart') Cart
      li
        a(href='/myorders') My Order
    .right
      input#search(type='text' placeholder='search')
      button.btn(type='submit') SEARCH
      button.btn(type='button' onclick='popUp()') LOGIN
  // Name
  section#s1
    h1 SHRI KHODE KIRANI AND GENERAL STORE
  // Top cards
  section#s2(style='margin-left: 2cm;')
    .card
      img(src='img/card/general.jpg' alt='')
      h3 General Items
      h4 Buy Now
      a(href='/itemslist') Add Cart
    .card
      img(src='img/card/drinks.jpg' alt='')
      h3 Soft Drinks
      h4 Buy Now
      a(href='/itemslist') Add Cart
    .card
      img(src='img/card/biscuits.jpg' alt='')
      h3 Becary Items
      h4 Buy Now
      a(href='/itemslist') Add Cart
  // Offers name
  section#s3
    h1 Ugadi Specal Deals
    h2 Buy Now and Get Offers
  // Offer items
  section#s2
    each item in items
      #card.card
        img(src=`img/genaral/${item.photo}` alt='')
        h3.title=item.name
        h4#itempric=item.price
        a(href='#') Add Cart
  // Footer
  footer
    .shop
      img(src='img/logo.png' alt='')
      h2 Shri Khode Kirani Store
      h3 Near APMC , Ron Road Gajendragad-582114
      h4 Dist: Gadag, karnataka
      ul
        li
          a(href='#')
            i.fa-brands.fa-twitter
        li
          a(href='#')
            i.fa-brands.fa-github
        li
          a(href='#')
            i.fa-brands.fa-hashnode
        li
          a(href='#')
            i.fa-brands.fa-linkedin
    .links
      h1 Links
      a(href='#') Home
      a(href='#') Shop
      a(href='#') Cart
      a(href='#') My orders
    p Khode &copy 2023. All right reserved
  script(src='js/main.js')
