
.navbar{
    width: 30cm;
    height: 2cm;
    margin-left: 2cm;
    font-size: .5cm;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.dd-flex input{
    /* flex-wrap: wrap; */
    margin-left: -2cm;
    margin-top: 30px;
}
.dd-flex button{
    /* flex-wrap: wrap; */
    margin-left: 3cm;
    margin-top: -65px;
}
.logo{
    /* display: flex; */
    display: inline;
    margin-right: 3cm;
}
.name{
    margin-top: 20px;
    color: black;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    margin-bottom: -2rem;
    text-shadow: 2px 2px rgb(105, 86, 86);
}
.card{
    padding: 0.5rem;
    position: static;
}
.card-first{
    padding: 1rem;
    margin-left: 2cm;
    position: static;
}
.card-sec{
    padding: 1rem;
    margin-left: 12cm;
    margin-top: -9.3cm;
    position: static;
}
.card-thi{
    padding: 1rem;
    margin-left: 23cm;
    margin-top: -10cm;
    position: static;
}
.btn-all{
    padding: 1rem;
}
.btn-log{
    border-radius: 10px;
    border-width: 1px;
    padding: 7px;
}
.btn-sign{
    border-radius: 10px;
    border-width: 1px;
    padding: 7px;
}
.card-cd{
    position: static;
    padding: 3rem;
}
.nav-item{
    padding: 1rem;
}
.itemlist-container{
    position: static;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-left: 10rem;
    margin-top: -10rem;
}
.card-item{
    background-color: rgb(241, 238, 238);
    width: 80%;
}
.card-body{
    position: relative;
    text-align: center;
    padding: 0.5rem;
    margin-left: 5rem;
    margin-top: -11rem;
}
.container{
    padding: 1rem;
}
.nav-it{
    position: relative;
    background-color: #ecefef;
    border-radius: 17px;
    width: 30cm;
    height: 1.5cm;
    margin-left: 2cm;
}
.nav-it a{
    font-size: 0.7cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
}
.d-flex{
    margin-left: 24cm;
    margin-top: -45px;
    font-size: 1cm;
}
.d-flex input{
    font-size: 0.5cm;
    border-radius: 15px;
    margin-left: -2cm;
    padding: 4px;
    border-width: 1px;
}
.d-flex button{
    font-size: 0.5cm;
    border-radius: 15px;
    margin-left: -2cm;
    padding: 4px;
    border-width: 1px;
}
.it{
    position: relative;
    margin-top: 4.5cm;
}
.card-body h5{
    padding: 0px;
    font-size: 0.7cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 6px;
}
.card-txt h3{
    color: #000000b7;
    font-size: 0.6cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 6px;
}
.card-txt p{
    color: rgb(0, 255, 85);
    font-size: 0.4cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 6px;
}
.card-txt span{
    color: black;
    text-decoration: line-through;
}
.card-txt h2{
    color: #000000b7;
    font-size: 0.7cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 6px;
}
.card-txt a{
    color: #000000b7;
    font-size: 0.6cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 6px;
    /* margin: 10cm; */
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    text-decoration: none;
    padding: 5px;
}
.itemimg{
    width: 4cm;
    padding: 10px;
    border-style: ridge;
}
.photo img{
    margin-left: 9cm;
}
.center{
    width: 150px;
    margin: 40px auto;
      
}
.navbar-dd{
    width: 30cm;
    height: 1.5cm;
    border-radius: 5px;
}
.only a{
    margin-left: .6cm;
    font-size: .5cm;
}
.db-flex{
    margin-left: 19cm;
    margin-right: 3cm;
    margin-top: -15px;
}
.db-flex button{
    margin-left: 7.5cm;
    margin-top: -65px;
}
.con-fluid a{
    font-size: .8cm;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000000b7;
    padding: 1rem;
}
.item-txt h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.item-txt h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 30px;
    animation: blinker .7s linear infinite;
    color: rgb(43, 255, 0);
    /* opacity: 50%; */
}
@keyframes blinker {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0.7%;
    }

}
.item-txt p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
}
.item-txt span{
    text-decoration: line-through;
}
.item-txt h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}
.item-txt h2 span{
    text-decoration: none;
    font-size: 22px;
}
.item-txt h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}
.item-txt h5 span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.cart-bt{
    margin-top: -1.5cm;
    margin-left: 7cm;
}
.desc{
    margin-top: 1cm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7cm;
}
.desc span{
    font-weight: bold;
}
.media{
    border-style: solid;
    width: 10cm;
    margin: 1cm;
    margin-left: 5cm;
}
.media-body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;
    margin-left: 3cm;
    margin-top: -2.5cm;
    /* margin: .5cm; */
}
.media-body h5{
    font-weight: bold;
    font-size: 0.8cm;
}
.media-footer button{
    padding: 10px;
    margin: 20px;
    margin-left: 1.5cm;
    font-size: 0.5cm;
    font-weight: bold;
}
.media-footer a{
    padding: 10px;
    margin: 20px;
    margin-left: 1.5cm;
    font-size: 0.5cm;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}
.cart-footer{
    margin-top: 8cm;
}
.total p{
    font-size: 0.5cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 3cm;
    text-align: center;
    padding: 5px;
    margin-left: 1cm;
}
.footer-body a{
    font-size: 0.5cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 2cm;
    text-decoration: none;
    margin-left: 6cm;
    padding: 10px;
}
.footer-body{
    margin-top: -1.5cm;
}
.back a{
    font-size: 0.7cm;
    font-weight: 700;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
.address{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5cm;
    border-style: solid;
    border-width: .5px;
    border-radius: 5px;
    padding: 3px;
}
.address label{
    margin-right: 2cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.radio{
    margin-left: 5cm;
    margin-top: 1cm;
    /* border-style: solid;
    border-width: .5px;
    border-radius: 5px; */
    padding: 3px;
}
.division{
    text-align: right;
    margin-right: 3cm;
}
.division button{
    font-size: .5cm;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}
footer{
    background-attachment: fixed;
    background-color: black;
    background-attachment: fixed;
    /* display: flex; */
    flex-wrap: wrap;
    color: white;
    height: 4cm;
    border-radius: 3px;
}
.footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
footer h3{
    font-size: 0.5cm;
}
footer h3 span{
    font-size: .8cm;
}
.socials{
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 1rem 5rem 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}
.contact  h5{
    margin-right: 4cm;
    font-family: 'Times New Roman', Times, serif;
}
