*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button.btn{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin: 0px 5px;
    transition: .5s ease;
}
#header{
    position: sticky;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    background-color:  #f7f7f7;
    transition: 1s ease;
    opacity: 100%;
}
#header .logo img{
    width: 100%;
    height: 80px;
    padding: 10px 30px;
}
#header #menu{
    display: none;
}

#header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header ul li{
    list-style: none;
    padding: 0px 30px;
}
#header ul li a{
    font-size: 25px;
    color: black;
    transition: .3s ease;
    text-decoration: none;
    font-weight: bold;
}
#header .right a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin: 0px 5px;
    text-decoration: none;
    transition: .5s ease;
}
#header .right a:hover{
    color: white;
    background-color: #000000;
    box-shadow: 2px 2px 2px white;
}
#header .right h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 7px;
    margin-left: 7.1cm;
    margin-top: -1cm;
    text-overflow: ellipsis;
}
#header input{
    width: 50%;
    padding: 5px 10px;
    margin: 0px 5px;
    margin-left: -90px;
    font-size: 15px;
    border-radius: 5px;
    transition: 1s ease;
}
#header input:hover{
    box-shadow: 3px 2px 3px 3px rgb(212, 212, 212);
}
#header ul li a:hover{
    color: blue;
}
#header:hover{
    box-shadow: 2px 2px 2px rgb(209, 209, 209)  ;
}
#header button:hover{
    color: white;
    background-color: #000000;
    box-shadow: 2px 2px 2px white;
}

#s1 h1{
    text-align: center;
    color: black;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px 0px;
}
#s2{
    margin-top: .5cm;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap: 50px 50px; */
    align-items: center;
    justify-content: space-around;
    /* gap: 0px 70px; */
}
#s2 .card{
    width: 6cm;
    height: 9cm;
    padding: 5px;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
    transition: .5s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}
#s2 .card:hover{
    box-shadow: 0px 0px 0px 4px rgb(143, 143, 143);
}
#s2 .card img{
    width: 100px;
    height: 100px;
    border: .5px gray;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    height: 5cm;
}
#s2 .card h3{
    font-size: .6cm;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
#s2 .card h4{
    font-size: .5cm;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
}
#s2 .card button{
    margin-top: 0px;
    font-size: .3cm;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-left: 2cm;
    padding: 5px;
    text-decoration: none;
    border: 1px black;
    border-style: solid;
    transition: .5s ease
}
#s2 .card a{
    margin-top: 0px;
    font-size: .3cm;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-left: 2cm;
    padding: 5px;
    text-decoration: none;
    border: 1px black;
    border-style: solid;
    transition: .5s ease
}
#s2 a{
    margin-top: 0px;
    font-size: .3cm;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-left: 2cm;
    padding: 5px;
    text-decoration: none;
    transition: .5s ease;
}
/* #s2 .card button:hover{
    color: rgb(69, 69, 235);
    font-size: .32cm;
    border-radius: 5px;
} */
#s3{
    text-align: center;
    padding: 20px 0px;
}
#s3 h1{
    font-size: 2cm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 10px 0px;
}

footer{
    /* margin-top: 4.5cm; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
footer .shop img{
    width: 20%;
    height: 50px;
    margin: 20px 0 0 0;
}
footer .shop ul{
    display: flex;
    align-items: center;
}
footer .shop ul li{
    list-style: none;
    padding: 10px 10px;
}
footer .shop ul li a img{
    color: white;
    width: 25px;
    height: 25px;
}
footer .shop ul li a:hover{
    color: blue;
}
footer .links{
    display: flex;
    flex-direction: column;
}
footer .links a{
    text-decoration: none;
    color: white;
}
#i1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}
#i1 .item{
    width: 5.5cm;
    height: 9.5cm;
    border-radius: 5px;
    margin: 1cm;
    transition: .5s ease;
}
#i1 .item:hover{
    box-shadow: 0px 0px 0px 4px rgb(172, 161, 161);
}
#i1 .item img{
    width: 100%;
    height: 5cm;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
}
#i1 .item a{
    text-decoration: none;
}
#i1 .item a ul li{
    list-style: none;
    font-size: .5cm;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: black;
    margin-left: 10px;
}
#d1 img{
    width: 30%;
    height: 400px;
    margin-left: 13cm;
}
#d2 h1{
    font-size: 1cm;
    margin-left: 5cm;
    padding: 10px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
#d2 h2{
    font-size: .8cm;
    margin-left: 5cm;
    padding: 10px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
#d2 h4{
    font-size: .5cm;
    margin-left: 5cm;
    padding: 10px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
#d2 h3{
    font-size: .7cm;
    margin-left: 5cm;
    padding: 10px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
#d2 a{
    font-size: 1cm;
    margin-left: 5cm;
    transition: 1s ease;
    color: black;
    padding: 10px;
}
#d2 button{
    font-size: .7cm;
    padding: 5px;
    margin-left: 5cm;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 1s ease;
}
#d2 p{
    display: none;
}
#d2 h6{
    display: none;
}
#d2 button:hover{
    background-color: #000000;
    color: white;
}
#d2 a:hover{
    color: blue;
}
#desc p{
    padding: 10px 0;
    margin-left: 5cm;
    font-size: .7cm;
}
#c1, #c2, #c3{
    text-align: center;
}
#c1 h2{
    /* margin-left: 0cm; */
    font-size: 1cm;
    font-weight: bold;
    padding: .7cm 0cm;
}
#c1{
    font-size: 1cm;
}
#c2{
    font-size: .5cm;
}
#c3{
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 20px;
    margin-top: 10px;
    padding: 10px;
}
#c3 .total{
    width: 4cm;
    height: 1.5cm;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
}
#c3 a{
    color: black;
    font-size: .8cm;
    padding: 10px;
    text-decoration: none;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
    margin-right: 50px;
    transition: 1s ease;
}
#c3 a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

#c4 .cart-content{
    margin-left: 9cm;
    width: 20cm;
    /* height: 2cm; */
    background-color: rgb(240, 240, 240);
    margin-top: .5cm;
    margin-bottom: .5cm;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    transition: 1s ease;
}
#c4 .cart-content:hover{
    box-shadow: 0px 0px 1px 2px rgb(223, 223, 223);
}
#c4 img{
    height: 100px;
    width: 100px;
    padding: 10px;
}
#c4 a{
    color: black;
    font-size: .5cm;
    text-decoration: none;
}
#c4 a:hover{
    color: rgb(0, 0, 255);
    font-size: .6cm;
 } 
#c4 p{
    display: none;
}

#header .overley{
    align-items: center;
    justify-content: center;
    width: 10cm;
    height: 8.5cm;
    text-align: center;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 28%;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}
#header .loginform{
    background-color: white;
    color: black;
    border: 1px black;
    border-style: solid;
    background-attachment: fixed;
    display: block;
}
#header .loginform h1{
    font-size: 1cm;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
}
#header .loginform label{
    font-size: .8cm;
    padding: 10px;
    font-weight: bold;
}
#header .loginform input{
    margin-left: .2cm;
    padding: 5px;
    font-size: .5cm;
    width: 6cm;
    border-radius: 3%;
    color: black;
    background-color: transparent;
    border-radius: 2px 15px 15px 15px;
}
#header .loginform a{
    font-size: .5cm;
    color: black;
    text-decoration: none;
}
#header .loginform button{
    font-size: .5cm;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    color: #000000;
    background-color: white;
    transition: 1s ease;
}
#header .loginform button:hover{
    color: white;
    background-color: black;
}
#header .loginform h2{
    font-size: .5cm;
    color: black;
    text-decoration: none;
    padding: 10px;
}
#header .loginform h2 button{
    border: none;
    padding: 0px;
    font-weight: 900;
    background-color: white;
}
#header .loginform h2 button:hover{
    color: #000000;
    background-color: white;
}
#header .loginform a.close{
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 600;
    font-size: .6cm;
    padding: 5px;
}
#header .signupfrom{
    background-color: white;
    color: black;
    border: 1px black;
    border-style: solid;
    display: none;
    
}
#header .signupfrom h1{
    font-size: 1cm;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
}
#header .signupfrom label{
    font-size: .8cm;
    padding: 10px;
    font-weight: bold;
}
#header .signupfrom input{
    margin-left: .2cm;
    padding: 5px;
    font-size: .5cm;
    width: 6cm;
    background-color: transparent;
    color: #000000;
    border-radius: 2px 15px 15px 15px;
}

#header .signupfrom a{
    font-size: .5cm;
    color: black;
    text-decoration: none;
}
#header .signupfrom a.close{
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 600;
    font-size: .6cm;
    padding: 5px;
}
#header .signupfrom button{
    font-size: .5cm;
    transition: 1s ease;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    color: #000000;
    background-color: white;
}
#header .signupfrom button:hover{
    color: white;
    background-color: black;
}
#header .signupfrom h2{
    font-size: .5cm;
    color: black;
    text-decoration: none;
    padding: 10px;
}
#header .signupfrom h2 button{
    border: none;
    padding: 0px;
    font-weight: 600;
}
#header .signupfrom h2 button:hover{
    color: #000000;
    background-color: white;
}
.headline h1{
    text-align: center;
    font-size: 1.5cm;
    font-weight: bolder;
    padding: 10px 0px;
}
#o1 h1{
    text-align: center;
    font-size: 1.5cm;
    padding: 10px 0;
    font-weight: bold;
}
#o1 p{
    display: none;
}
#o1 table{
    align-items: center;
    font-size: .6cm;
    margin-left: 14cm;
}
#o1 table th{
    font-size: 1cm;
    font-weight: bold;
    padding: 10px 0;
}
#o1 table td{
    padding: 10px 0;
}
#o1 table input{
    padding: 5px;
}
#o1 table select{
    padding: 5px;
}
#o1 table button{
    padding: 5px;
    font-size: .5cm;
    font-weight: bold;
}
#o1 .total_price p{
    text-align: center;
    padding: 15px 0;
    font-size: .9cm;
}
#o2 h1{
    text-align: center;
    font-size: 1.2cm;
    font-weight: bold;
    padding: 10px 0;
}
#o2 table{
    font-size: .8cm;
    padding: 10px 5px;
    margin-left: 14cm;
}
#o2 table input{
    margin-right: 35px;
    size: 1cm;
}
#o2 table td{
    padding: 10px;
    size: 1cm;
}
#o2 .order_footer{
    margin-left: 15cm;
}
#o2 .order_footer button{
    font-size: .6cm;
    padding: 8px;
    margin: .5cm;
    justify-content: space-around;
}
#o3 {
    text-align: center;
    padding: 10px 0;
}

.captcha{
    text-align: center;
    background-color:transparent;
    width: 5cm;
    height: 5cm;
    margin-top: 5cm;
    margin-left: 15cm;
    border: 1px black;
    border-style: solid;
    border-radius: 0px 20px 0px 20px;
}
.captcha h3{
    padding: 10px 0;
    font-size: .6cm;
    font-weight: bold;
}
.captcha input{
    width: 4cm;
    height: .8cm;
    padding: 10px;
    font-size: .5cm;
    color: #000000;
    background-color: transparent;
    border-radius: 15px 4px 15px 4px;
    
}
.captcha p{
    font-size: .7cm;
    padding: 10px 0;
    text-decoration: line-through;
}
.captcha button{
    font-size: .5cm;
    font-weight:bolder;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}
.captcha p i{
    font-size: .5cm;
    padding: 10px;
}
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }
  .my-order-footer{
    margin-left: 15cm;
    padding: .8cm;
    
  }
  .my-order-footer button{
    font-size: .7cm;
  }
  .no-orders h1{
    margin-left: 15cm;
    font-size: 1cm;
    font-weight: bold;
    padding: .7cm 0cm;
  }
  .heading{
    text-align: center;
    font-size: 1cm;
    font-weight: bold;
}
#m1 h1{
    text-align: center;
    font-size: .9cm;
    font-weight: bold;
}
#m1 .mybody{
    /* align-items; */
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    /* align-items: center; */
    justify-content: center;
}
#m1 .item{
    width: 5cm;
    height: 7cm;
    border-radius: 5px;
    margin: 1cm;
    transition: .5s ease;
}
#m1 .item:hover{
    box-shadow: 0px 0px 0px 4px rgb(172, 161, 161);
}
#m1 .item img{
    width: 100%;
    height: 5cm;
    border: 1px black;
    border-style: solid;
    border-radius: 5px;
}
#m1 .item a{
    text-decoration: none;
}
#m1 .item a ul li{
    list-style: none;
    font-size: .5cm;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: black;
    margin-left: 10px;
}
#m1 .details{
    text-align: center;
    font-size: .5cm;
}
#m1 .myfoote{
    text-align: center;
    padding: 10px;
}
#m1 .myfoote button{
    font-size: .5cm;
    font-weight: bold;
    padding: 10px;
}
#my1 .my-content{
    margin-left: 9cm;
    width: 20cm;
    height: 2cm;
    background-color: rgb(240, 240, 240);
    margin-top: .5cm;
    margin-bottom: .5cm;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    transition: 1s ease;
}
#my1 .my-content:hover{
    box-shadow: 0px 0px 1px 2px rgb(223, 223, 223);
}
#my1 a{
    color: black;
    font-size: .5cm;
    text-decoration: none;
    gap: 5cm;
}
#my1 h1{
    /* margin-left: 5cm; */
    text-decoration: none;
}
#my1 h6{
    display: none;
}
#orderid{
    display: none;
}
#o2 h6{
    display: none;
}
#drop{
    display: none;
}

@media only screen and (max-width:700px) {
    body{
        width: 100%;
    }
    #drop{    
        position: sticky;
        display: flex;
        width: 100%;
        top: 0;
        right: 0;
        justify-content:space-between;
    }
    #header .logo img{
        width: 80px;
        height: 80px;
        padding: 10px 10px;
        position: static;
    }
    #header #menu{
        position: sticky;
        display: block;
    }
    #header ul{
        display: none;
    }
    #drop #list{
        width: 100%;
        display: none;
        /* margin-top: 1cm; */
        justify-content: space-around;
        background-color: #f7f7f7;
        backdrop-filter: blur(25px);
        overflow: auto;
        text-align: center;
        font-size: .5cm;
    }
    #drop ul li{
        /* background-color: transparent;
        backdrop-filter: blur(10px);
        overflow: auto; */
        padding: 10px;
        list-style: none;
        /* width: 100%; */
    }
    #drop ul li a{
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }
    #drop ul li h3{
        padding: 20px 10px;
        font-size: 25px;
        color: black;
        transition: .3s ease;
    }
    #header .right{
        display: none;
    }
    #s1 h1{
        width: 100%;
        font-size: .5cm;
        text-align: center;
        margin-right: 0cm;
    }
    #s2{
        display: grid;
        grid-template-columns: auto;
        /* margin-left: -2cm; */
        align-items: center;
        /* margin-right: -5cm;
        margin-left: -5cm; */
        /* gap: -2cm; */
    }
    #s2 .card{
        margin-left: -2.5cm;
        width: 6cm;
        height: 9cm;
        padding: 5px;
        border: 1px black;
        border-style: solid;
        border-radius: 5px;
        transition: .5s ease;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #s3 h1{
        width: 100%;
        font-size: 1cm;
        text-align: center;
        /* margin-right: 2cm; */
        /* margin-left: -4cm; */
    }
    #s3 h2{
        width: 100%;
        font-size: .7cm;
        text-align: center;
        /* margin-right: -7cm; */
    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* margin-right: -7cm; */
    }
    footer .shop{
        font-size: .3cm;
    }
    footer .link{
        font-size: .3cm;
    }
    footer p{
        margin-top: .7cm;
        margin-bottom: 1cm;
    }
    #i1{
        display: grid;
        grid-template-columns: auto auto;
    }
    #i1 .item{
        margin-bottom: -1.2cm;
        margin-left: .4cm;
        width: 3cm;
        height: 5.4cm;
    }
    #i1 .item img{
        width: 100%;
        height: 2.5cm;
        border: 1px black;
        border-style: solid;
        border-radius: 2px;
    }
    #i1 .item a ul li{
        list-style: none;
        font-size: .4cm;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 5px;
        color: black;
        margin-left: 10px;
    }
    #d1 img{
        width: 60%;
        height: 200px;
        margin-left: 1.5cm;
    }
    #d2 h1{
        font-size: .7cm;
        margin-left: .5cm;
        padding: 10px 0 0 0;
        font-family: 'Times New Roman', Times, serif;
    }
    #d2 h2{
        font-size: .5cm;
        margin-left: .5cm;
        padding: 10px 0 0 0;
        font-family: 'Times New Roman', Times, serif;
    }
    #d2 h4{
        font-size: .4cm;
        margin-left: .5cm;
        padding: 10px 0 0 0;
        font-family: 'Times New Roman', Times, serif;
    }
    #d2 h3{
        font-size: .6cm;
        margin-left: .5cm;
        padding: 10px 0 0 0;
        font-family: 'Times New Roman', Times, serif;
    }
    #d2 a{
        font-size: .8cm;
        margin-left: .5cm;
        transition: 1s ease;
        color: black;
        padding: 7px;
    }
    #d2 button{
        font-size: .6cm;
        padding: 5px;
        margin-left: .5cm;
        margin-bottom: 10px;
        border-radius: 3px;
        transition: 1s ease;
    }
    #desc p{
        padding: 10px 0;
        margin-left: .5cm;
        font-size: .5cm;
    }
    #c1{
        font-size: .8cm;
        text-align: center;
    }
    #c1 h2{
        font-size: .6cmss;
    }
    #c3{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    #c3 .total{
        width: 2cm;
        height: 1cm;
        border: 1px black;
        border-style: solid;
        border-radius: 3px;
    }
    #c3 .total h1, h2{
        font-size: .4cm;
    }
    #c3 a{
        color: black;
        font-size: .5cm;
        padding: 10px;
        text-decoration: none;
        border: 1px black;
        border-style: solid;
        border-radius: 3px;
        /* margin-right: 50px; */
        transition: 1s ease;
    }
    #c4 .cart-content{
        margin-left: .4cm;
        width: 90%;
        background-color: rgb(240, 240, 240);
        margin-top: .5cm;
        margin-bottom: .5cm;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
        transition: 1s ease;
    }
    #c4 img{
        height: 80px;
        width: 80px;
        padding: 10px;
    }
    #c4 h1{
        font-size: .4cm;
    }
    #c4 a{
        color: black;
        font-size: .4cm;
        transition: 1s ease;
    }
    #o1 h1{
        text-align: center;
        font-size: 1cm;
        padding: 8px 0;
        font-weight: bold;
    }
    #o1 table{
        align-items: center;
        font-size: .4cm;
        margin-left: .5cm;
    }
    #o1 table th{
        font-size: .7cm;
        font-weight: bold;
        padding: 8px 0;
    }
    #o1 table td{
        padding: 8px 0;
    }
    #o1 table input{
        padding: 3px;
    }
    #o1 table select{
        padding: 3px;
    }
    #o1 table button{
        padding: 3px;
        font-size: .4cm;
        font-weight: bold;
    }
    #o1 .total_price p{
        text-align: center;
        padding: 9px 0;
        font-size: .7cm;
    }
    #o2 h1{
        text-align: center;
        font-size: .8cm;
        font-weight: bold;
        padding: 8px 0;
    }
    #o2 table{
        font-size: .6cm;
        padding: 8px 4px;
        margin-left: .5cm;
    }
    #o2 table input{
        margin-right: 3px;
        size: .7cm;
    }
    #o2 table td{
        padding: 8px;
        size: .7cm;
    }
    #o2 .order_footer{
        margin-left: .5cm;
    }
    #o2 .order_footer button{
        font-size: .5cm;
        padding: 6px;
        margin: .5cm;
        justify-content: space-around;
    }
    #o3 {
        text-align: center;
        padding: 8px 0;
    }
    .headline h1{
        text-align: center;
        font-size: 1cm;
        font-weight: bold;
        padding: 8px 0px;
    }
    .no-orders h1{
        text-align: center;
        font-size: .8cm;
        font-weight: bold;
        padding: 8px 0px;

    }
    #my1 .my-content{
        margin-left: .5cm;
        width: 90%;
        height: 2cm;
        background-color: rgb(240, 240, 240);
        margin-top: .5cm;
        margin-bottom: .5cm;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
        transition: 1s ease;
    }
    #my1 a{
        color: black;
        font-size: .4cm;
        text-decoration: none;
        gap: 1cm;
    }
    .heading h1{
        text-align: center;
        font-size: 1cm;
        font-weight: bold;
    }
    #m1 h1{
        text-align: center;
        font-size: .7cm;
        font-weight: bold;
    }
    #m1 .mybody{
        /* align-items; */
        display: grid;
        grid-template-columns:auto auto;
        justify-content: center;
        /* margin-bottom: -1cm; */
    }
    #m1 .item{
        width: 3cm;
        height: 5cm;
        border-radius: 5px;
        margin-bottom: -.5cm;
        transition: .5s ease;
    }
    #m1 .item:hover{
        box-shadow: 0px 0px 0px 4px rgb(172, 161, 161);
    }
    #m1 .item img{
        width: 100px;
        height: 100px;
        border: 1px black;
        border-style: solid;
        border-radius: 3px;
    }
    #m1 .item a ul li{
        list-style: none;
        font-size: .4cm;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 10px;
        color: black;
        margin-left: 8px;
    }
    #m1 .details{
        text-align: center;
        font-size: .4cm;
    }
    #m1 .myfoote{
        text-align: center;
        padding: 8px;
    }
    #m1 .myfoote button{
        font-size: .5cm;
        font-weight: bold;
        padding: 8px;
    }
    #header .overley{
        align-items: center;
        justify-content: center;
        /* width: 6cm;
        height: 5cm; */
        text-align: center;
        position: fixed;
        width: 75%;
        height: 75%;
        top: 25%;
        left: 12%;
        right: 0;
        bottom: 0;
        z-index: 2;
        cursor: pointer;
    }
    #header .loginform h1{
        font-size: .7cm;
        text-align: center;
        font-weight: bold;
        padding: 7px 15px;
    }
    #header .loginform label{
        font-size: .6cm;
        padding: 8px;
        font-weight: bold;
    }
    #header .loginform input{
        margin-left: .2cm;
        padding: 5px;
        font-size: .5cm;
        width: 4cm;
        border-radius: 1%;
        color: black;
        background-color: transparent;
        border-radius: 2px 15px 15px 15px;
    }
    #header .loginform a{
        font-size: .4cm;
        color: black;
        text-decoration: none;
    }
    #header .loginform button{
        font-size: .4cm;
        padding: 8px;
        margin-top: 18px;
        margin-left: 18px;
        border-radius: 4px;
        color: #000000;
        background-color: white;
        transition: 1s ease;
    }
    #header .loginform h2{
        font-size: .4cm;
        color: black;
        text-decoration: none;
        padding: 5px;
    }
    #header .loginform a.close{
        border: 1px solid black;
        border-radius: 3px;
        font-weight: 600;
        font-size: .5cm;
        padding: 5px;
    }
    #header .signupfrom{
        background-color: white;
        color: black;
        border: 1px black;
        border-style: solid;
        display: none;
    }
    #header .signupfrom h1{
        font-size: .8cm;
        text-align: center;
        font-weight: bold;
        padding: 8px 15px;
    }
    #header .signupfrom label{
        font-size: .6cm;
        padding: 8px;
        font-weight: bold;
    }
    #header .signupfrom input{
        margin-left: .2cm;
        padding: 5px;
        font-size: .4cm;
        width: 4cm;
        background-color: transparent;
        color: #000000;
        border-radius: 2px 15px 15px 15px;
    }
    #header .signupfrom a{
        font-size: .4cm;
        color: black;
        text-decoration: none;
    }
    #header .signupfrom a.close{
        border: 1px solid black;
        border-radius: 3px;
        font-weight: 600;
        font-size: .5cm;
        padding: 5px;
    }
    #header .signupfrom button{
        font-size: .4cm;
        transition: 1s ease;
        padding: 8px;
        margin-top: 8px;
        margin-left: 8px;
        border-radius: 3px;
        color: #000000;
        background-color: white;
    }
    #header .signupfrom h2{
        font-size: .4cm;
        color: black;
        text-decoration: none;
        padding: 5px;
    }
    .alert {
        position: fixed;
        top: 0;
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 9999;
        color: #fff;
        font-size: .8cm;
        font-weight: 400;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px 8px;
        -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
      }
      .alert--success {
        background-color: #20bf6b;
      }
      .alert--error {
        background-color: #eb4d4b;
      }
}
